<% content_for :heading do %>Listing events<% end %>

<!-- <ul data-role="listview" data-filter="true"> -->
<ul data-role="listview" data-filter="false">
  <% @events.each do |event| %>
    <li><%= event.description %> <%= event.amount %>
      <ul>
        <li><%= link_to 'Show', event %></li>
        <li><%= link_to 'Edit', edit_event_path(event) %></li>
        <li><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </li>
  <% end %>
</ul>

<br />

<%= link_to 'New Event', new_event_path %>
